body {
  font-family: Arial;
  background-color: grey;
  height: 3000px;
}

.flexbox {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.user {
  display: flex;
  align-items: center;
}

.profile {
  margin-left: 70px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.profile-pic {
  height: 40px;
  border-radius: 20px;
}

.user-name {
  font-family: Arial;
  font-weight: bold;
}

.add-friend {
  font-weight: bold;
  background-color: rgb(40, 101, 215);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.message {
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 70px;
}